<div class="main-container">
  <div class="form-wrapper">
    <h1>Register and start playing online!</h1>

    <form [formGroup]="form" (ngSubmit)="submit()">
      @let usernameControl = form.controls.username;
      <div
        class="input-container"
        [ngClass]="{ error: isSubmitted() && usernameControl.invalid }"
      >
        <label for="username">Username</label>
        <input id="username" type="text" formControlName="username" autofocus />

        @if(isSubmitted() && usernameControl.invalid) {
        <span class="error-msg">{{ getErrorMessage(usernameControl) }}</span>
        }
      </div>

      <chess-button type="submit" label="Start Game" />
    </form>
  </div>
</div>
