.main-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
  color: #fff;

  .form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 30rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    padding: 2rem;

    h1 {
      text-align: center;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .input-container {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;


        label {
          cursor: pointer;
        }

        input {
          height: 3rem;
          min-width: 15rem;
          border-radius: 0.5rem;
          border: none;
          padding: 0.5rem;
        }

        &.error {
          input {
            border: 2px solid #fd6969;
          }
          .error-msg, label {
            color: #fd6969;
          }
        }
      }
    }
  }
}
