*,
body {
  padding: 0;
  margin: 0;
}

.main {
  display: flex;
  justify-content: center;
  height: 100vh;

  .board {
    display: grid;
    gap: 1px;
    background: #bdbdbd;
    border: 1px solid #808080;
    margin: 1rem;

    height: 50rem;
    width: 50rem;

    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }

  .square {
    background-color: #f8f8f8;

    &.black {
      background-color: #81b64c;
    }
  }
}

.container {
  background-color: #222;
  height: 100%;
  width: 100%;
}
